@import '../../variables';

.gallery-wrapper {
    .title h1 {
        font-family: $title-font;
        font-size: $title-size;
    }

    .categories li {
        background-color: inherit;
        border: none !important;
        a {
            text-decoration: none;
            color: lightgray;
            transition: color .2s ease-in-out;
            
            &:hover {
                color: #FFF;
            }

            &:focus {
                color: #FFF;
            }
        }
    }

    .flex-gallery {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .filtr-item {
        height: 24vh;
        margin-right: .8vw;
        margin-bottom: .8vw;
        flex-grow: 1;

        &:last-child {
          flex-grow: 10;
        }

        img {
          max-height: 100%;
          min-width: 100%;
          object-fit: cover;
          vertical-align: bottom;
        }
      }
    }
/*
    .pswp-thumbnails {
      display: flex;
      flex-wrap: wrap;

      .pswp-thumbnail {
        height: 40vh;
        flex-grow: 1;

        &:last-child {
          flex-grow: 10;
        }

        img {
          max-height: 100%;
          min-width: 100%;
          object-fit: cover;
          vertical-align: bottom;
        }
      }

    }  */
}

// Portrait

@media (max-aspect-ratio: 1/1) {
  .pswp-thumbnails li {
    height: 30vh;
  }
}

// Short screens

@media (max-height: 480px) {

}

// Smaller screens in portrait

@media (max-aspect-ratio: 1/1) and (max-width: 480px) {

}
