@import '../../variables.scss';


.contact-wrapper {
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;

    .text-wrapper{
        h1 {
            font-family: $title-font;
            font-size: $title-size;
        }
    }
    
    .form-wrapper {
        .form-group {
            position: relative;
            padding: 1vh 0;
            width: 300px;
            max-width: 100%;

            input, textarea {
                background-color: $bg-color;
                border: none;
                border-bottom: 1px solid #FFF;
                color: #FFF;
                display: block;
                padding: 10px 0;
                width: 100%;

                &:valid, &:focus {
                    border-bottom-color: #FFF;
                    outline: none;
                }
                
                &:valid + label, &:focus + label {
                    color: rgb(218, 218, 218);
                    transform: translateY(0);
                }
            }

            label {
                color: #FFF;
                position: absolute;
                top: 0;
                left: 0;
                pointer-events: none;
                transform: translateY(30px);
                margin-bottom: .2rem;

                transition: all 0.2s ease-in-out;
            }
        }
        button {
            background-color: #FFF;
            color: $bg-dark-color;
            border: none;
            box-shadow: none;
            padding: .5vw 1.2vw;
            transition: background-color .2s ease-in-out, color .2s ease-in-out;

            &:hover {
                background-color: $bg-color;
                color: #FFF;
            }
        }

    }
}


@media only screen and (max-width: 992px) {
    .contact-wrapper {
        margin-top: 6vw !important;
        margin-left: 10vw !important;
        margin-right: 10vw !important;
        .text-wrapper {
        }   
    }
    input, textarea {
        background-color: $bg-dark-color !important;
    }
    button {
        &:hover {
            background-color: $bg-dark-color !important;
        }
    }
}