@import 'variables.scss';

* {
    color: $font-color;
    font-family: $main-font;
    font-display: block;
}
html {
    min-height: 100%;
}
body { 
    overflow: auto;
    min-height: 100%;
    background-color: $bg-color !important;

    &::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; 
}

@media only screen and (max-width: 992px) {
    body {
        background-color: $bg-dark-color !important;
    }
}